@charset "UTF-8";

* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    text-align: center;
    display: block;
}
header {
    margin-top: 20px;
    height: 15%;
}
nav {
    height: 5%;
}
main {
    height: 67%;
}
footer {
    height: 3%;
}
.top {
    color: blue;
    font-weight: bold;
}

p {
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: block;
}
.btn_cover {
    margin-top: 50px;
}

a.btn {
    color: #000;
    background-color: #fff100;
    border-bottom: 5px solid #ccc100;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    width: 300px;
}

a.btn:hover {
    opacity:0.8;
    background-color: #ffb300;
    border-bottom: 5px solid #cc8100;
}
  
a.btn:active {
    margin-top: 3px;
    border-bottom: 2px solid #cc8100;
    position: relative;
	top: 3px;
 
}
/*
.btn {
    width: 300px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0;
    text-align: center;
    margin: 15px auto;
    text-decoration: none;
    display: block;
    color: #000;
    background-color: white;
    border: 2px solid #000;
}

.btn:hover {
    color: #fff;
    background-color: black;
}
*/

span {
    color: red;
    font-weight: bold;
}

span::after {
    content: "壽";
}

h1 {
    font-size: 50px;
    text-align: center;
    background-color: rgb(80, 136, 211);
    color: white;
}

h2 {
    color: red;
}

footer {
    color: white;
    background-color: black;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}